extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.svg', width='160')
		h1 Welcome
		p This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.
		p It includes the latest versions of
			| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p We have created a default Admin user for you with the email <strong>test@test.com</strong> and the password <strong>admin</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
		hr
		p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		
	.container
		.row
			.col-lg-12
			h3 Communities
		.row
			.col-md-4
				.card.hoverable
					.card-image
						img(src='images/javascript.png')
						span.card-title JavaScript
					.card-content
						p
							JavaScript is the programming language of HTML and the Web. Programming makes computers do what you want them to do. JavaScript is easy to learn....
					.card-action
						a(href='http://mdbootstrap.com/product/magic-portfolio-for-video-maker/')
							button.btn.btn-info.waves-effect.waves-light(type='button') Read more
			.col-md-4
				.card.hoverable
					.card-image
						img(src='images/java.jpeg')
						span.card-title Java
					.card-content
						p
							Java is a programming language expressly designed for use in the distributed environment of the Internet. It was designed to have the "look and feel" of the C++ language, but it is simpler to use than C++ and enforces an object-oriented programming model. Java can be used to create complete applications that may run on a single computer or be distributed among servers and clients in a network. It can also be used to build a small application module or applet for use as part of a Web page. Applets make it possible for a Web page user to interact with the page....
					.card-action
						a(href='http://mdbootstrap.com/product/magic-portfolio-for-creative-agency')
						button.btn.btn-info.waves-effect.waves-light(type='button') Read more
			.col-md-4
				.card.hoverable
					.card-image
						img(src='images/nodejs.png')
						span.card-title NodeJS
					.card-content
						p
							Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world....
					.card-action
						a(href='http://mdbootstrap.com/product/magic-portfolio-photographer/')
						button.btn.btn-info.waves-effect.waves-light(type='button') Read more
